
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$blogtitle: #4183C4;
  // was FF1493
$ribbonAccent: #73D8FF;
//$background: #FFFDD0;
$background: linear-gradient(#FFFDD0,#73D8FF);
$shadow: #B26575;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Default Font stacks
//$helvetica: Helvetica, Arial, sans-serif;
//$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
//$georgia: Georgia, serif;

@import url('https://fonts.googleapis.com/css?family=Joti+One|Source+Sans+Pro|Slabo+27px');

//Font Choices
$helvetica: "Source Sans Pro", Arial, sans-serif;
$helveticaNeue: "Joti One",sans-serif;
$georgia: "Slabo 27px", serif;


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
